
    <!-- Start your project here-->
<div style="height: 100vh">
  <div class="flex-center flex-column">
    <h1 class="animated fadeIn mb-4">Material Design for Bootstrap (Angular)</h1>

    <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
    <h6 class="animated fadeIn mb-3">Start browsing <a href="https://mdbootstrap.com/angular">documentation</a>.</h6>

    <p class="animated fadeIn text-muted">MDB Team</p>
    <div class="md-form">
      <input mdbInput type="text" id="form1" class="form-control">
      <label for="form1" class="">Example label</label>
    </div>
  </div>
</div>
<!-- /Start your project here-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SmartFare</title>
</head>
<body>
<div>
  <div class="row">
    <div>
      <h2 class="page-header">入力フォーム</h2>
    </div>
    <app-input-component></app-input-component>
  </div>
</div>
</body>
</html>
