<div class="md-form">
  <input mdbInput type="text" id="project_no" class="form-control">
  <label for="project_no" class="">制作NO</label>
</div>
<div class="md-form">
  <input mdbInput type="text" id="project_name" class="form-control">
  <label for="project_name" class="">作品名</label>
</div>
<div class="md-form">
  <input mdbInput type="text" id="phase" class="form-control">
  <label for="phase" class="">フェーズ</label>
</div>
<div class="md-form">
  <input mdbInput type="date" id="occur_date" class="form-control">
  <label for="project_name" class="">日時</label>
</div>
<div class="md-form">
  <input mdbInput type="text" id="detail_name" class="form-control">
  <label for="detail_name" class="">費目</label>
</div>
<div class="md-form">
  <input mdbInput type="text" id="staffname1" class="form-control">
  <label for="staffname1" class="">スタッフ名</label>
</div>
<div class="md-form">
  <input mdbInput type="number" id="detail_number_of_staff" class="form-control">
  <label for="detail_number_of_staff" class="">人数</label>
</div>
<div class="md-form">
  <input mdbInput type="text" id="detail_price" class="form-control">
  <label for="detail_price" class="">金額</label>
</div>
<div class="md-form">
  <input mdbInput type="text" id="detail_activity_and_location" class="form-control">
  <label for="detail_activity_and_location" class="">行動&行動範囲</label>
</div>
<div class="md-form">
  <input mdbInput type="text" id="detail_comment" class="form-control">
  <label for="detail_comment" class="">特記事項</label>
</div>
