<div>
  <div>
    <div class="panel panel-success">
      <div class="panel-heading">
        {{title}}
      </div>
      <div class="panel-body">
        <div>
          <form role="form">
            <app-detail-component></app-detail-component>
            <input type="hidden" id="out_type" value="1">
            <button id="submit" class="btn btn-success">登録</button>
            <button type="reset" class="btn btn-outline btn-successt">リセット</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
